:root {
    --size: 100px;
    --marg: 25px;
}

* {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.01em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    word-spacing: 15px;
}

.wide {
    background-color: green;
    margin: 0;
    text-align: center;
    padding: 10px;
    font-family: monospace;
}

#footer {
    font-family: sans-serif;
}

#blu {
    background-color: blue;
    width: 25%;
    margin: 0 0 0 37.5%;
    padding: var(--marg);
}

#title {
    font-family: sans-serif;
    font-weight: bold;
}

#content {
    margin-top: var(--marg);
    font-family: sans-serif;
}

#box {
    width: var(--size);
    height: var(--size);
    float: left;
    border: 5px white solid;
    margin: 0 var(--marg) var(--marg) 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

a {
    color: red;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 15px;
}

ul {
    padding-left: 30px;
}
ul > * {
    margin: 10px 0 10px 0;
}

img {
    float: right;
    margin: 0 !important;
}

#redText {
    color: red;
}

li:nth-child(2) {
    color: aqua;
    letter-spacing: 5px;
}

#lines > * {
    display: inline-block;
    margin-top: 1em;
    font-size: 0.8em;
}

.vstyles {
    margin: 20px 0;
}

#table {
    border: 1px white solid;
    width: 150px;
    height: 100px;
    float: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    padding: 3px;
}

.first {
    grid-row: span 2;
    background-color: green;
}

#red {
    grid-column: span 2;
    background-color: red;
}

#table > * {
    text-align: center;
    vertical-align: bottom;
    border: 1px white solid;
}




