/kontrolnaya/
/lab6/src/cat.jpg
/lab4/src/cat.png
/lab4/src/Web - Лабораторная работа №1.4/color.css
/lab6/src/dog.jpg
/lab1/src/Web - Лабораторная работа №1.1/lab1.png
/lab4/src/logo.png
/.idea/inspectionProfiles/Project_Default.xml
/lab2/src/Web - Лабораторная работа №1.2/Task 2.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.3.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.3.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.4.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.4.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.5.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.6.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.7.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.7.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.8.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.8.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.9.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.9.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.10.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.10.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.11.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.11.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.12.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.12.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.13.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.13.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.14.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.14.2.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.15.1.png
/lab2/src/Web - Лабораторная работа №1.2/Task 2.15.2.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris1.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris2.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris3.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris4.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris5.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris6.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris7.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris8.png
/lab4/src/Web - Лабораторная работа №1.4/Task 4. Ris9.png
/lab5/src/Web - Лабораторная работа №1.5/Task 5.1.png
/lab5/src/Web - Лабораторная работа №1.5/Task 5.2.png
/lab5/src/Web - Лабораторная работа №1.5/Task 5.3.png
/lab5/src/Web - Лабораторная работа №1.5/Task 5.4.png
/lab5/src/Web - Лабораторная работа №1.5/Task 5.5.png
/lab6/src/Task 6.1.png
/lab6/src/Task 6.2.png
/lab6/src/Task 6.3.png
/lab7/src/Task 7.1.png
/lab7/src/Task 7.2.png
/lab7/src/Task 7.3.png
/lab7/src/Task 7.4.png
/lab7/src/Task 7.5.png
/lab7/src/Task 7.6.png
/lab7/src/Task 7.7.png
/lab1/src/Web - Лабораторная работа №1.1/Text.txt
/lab2/src/Web - Лабораторная работа №1.2/Text.txt
/lab5/src/Web - Лабораторная работа №1.5/Text.txt
/lab4/src/Web - Лабораторная работа №1.4/text.txt
/lab2/src/Web - Лабораторная работа №1.2/Text 2.txt
/lab1/src/Web - Лабораторная работа №1.1/Web. Лабораторная работа №1.docx
/lab2/src/Web - Лабораторная работа №1.2/Web. Лабораторная работа №2.docx
/lab2/src/Web - Лабораторная работа №1.2/Используемые цвета.css
/lab7/src/Лабораторная работа №7.docx
